{include file="herder/index"}

<link rel="stylesheet" href="/static/shop/cart/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/shop/cart/css/header.css">
<link rel="stylesheet" href="/static/shop/cart/css/footer.css">
<link rel="stylesheet" href="/static/shop/cart/css/type.css">
<link rel="stylesheet" href="/static/shop/cart/css/main.css">
<link rel="stylesheet" href="/static/shop/cart/css/detail.css">
<link rel="stylesheet" href="/static/shop/cart/css/store.css">
<link rel="stylesheet" href="/static/shop/cart/css/order.css">
<link rel="stylesheet" href="/static/shop/cart/css/shop3.css">
<link rel="stylesheet" href="/static/shop/cart/css/pj.css">
<link rel="stylesheet" href="/static/shop/cart/css/question.css">
<link rel="stylesheet" href="/static/shop/cart/css/qreply.css">
<link rel="stylesheet" href="/static/shop/cart/css/meiball.css">
<script src='/static/shop/cart/js/jquery-1.11.3.min.js'></script>
<script src='/static/shop/cart/js/bootstrap.min.js'></script>
<script src='/static/shop/cart/js/jQuery.md5.js'></script>
<script src='/static/shop/cart/js/header.js'></script>
<script src='/static/shop/cart/js/index.js'></script>
<script src='/static/shop/cart/js/detail.js'></script>
<script src='/static/shop/cart/js/shop.js'></script>
<!-- <script src='/static/shop/cart/js/shop2.js'></script> -->
<!-- <script src='/static/shop/cart/js/shop3.js'></script> -->
<script src='/static/shop/cart/js/order.js'></script>
<!--购物车top-->
<div class="store_top">
	<img src="/static/shop/cart/images/liu.gif" alt="">
</div>

<!---购物车center1-->

<div class="store_center1">
	<table class="table">
			<tr>
				<th>
				<!-- 总的多选框 -->
					<input type="checkbox" name="all" id="all" value="">
				</th>
				<th width="500px">商品</th>
				<th>单价</th>
				<th>购买数量</th>
				<th>小计</th>
				<th>操作</th>
			</tr>
		{volist name="data" id="val"}
		<!-- 商品 -->
			<tr class='shangpin'>
				<!-- 分多选框 -->
					<td>
						<input data="{$val.id}" type="checkbox" name="" class="every" value="">
					</td>
					<td>
						<div class="goods">
							<div class="pic"><img src="{$val.img}" alt=""></div>
							<div class="texts">
								<div class="text">{$val.gname}</div>
								<div class="text">
									<span>{$val.net}</span>
									<span>{$val.color}</span>
									<span>{$val.memoey}</span>
								</div>
							</div>
						</div>
					</td>
					<td class="jiage">
						<div class="td1"><span>￥</span><span class='pri' id="pri{$val.id}">{$val.price}</span></div>
					</td>
					<td class="shu">
						<div class="nu">
							<a href="javascript:;"><span class='n' id="sjian{$val.id}">-</span></a>
							<span class="td1 n b selected" id="J_quantity{$val.id}" value="{$val.num}">{$val.num}</span>
							<a href="javascript:;"><span class='n' id="sjia{$val.id}">+</span></a>
						</div>
					</td>
<script type="text/javascript">
$(function(){
	//数量+1
	$('#sjia{$val.id}').click(function(){
		var jia=$(this).parent().prev();
		var add=Number(jia.text());
		var danjia = $('#pri{$val.id}').text();
		add++;
		// alert(add);
		if(add>99) return false;
		var count = parseInt(danjia)*parseInt(add);
		$('#J_quantity{$val.id}').text(add);
		$('#price{$val.id}').text(count);
		var total=0;
		$('.every:checked').each(function(){
			total+=Number($(this).parent().siblings('.p').find('.price').text());
			// console.log(total);
		})
		$('#total').text(total);
		$('#copy2').text(total);
	});

	//数量-1
	$('#sjian{$val.id}').click(function(){
		var jian=$(this).parent().next();
		var low=Number(jian.text());
		var danjia = $('#pri{$val.id}').text();
		low--;
		// alert(low);
		//最少1件
		if(low<1) return false;
		var count = parseInt(danjia)*parseInt(low);
		$('#J_quantity{$val.id}').text(low);
		$('#price{$val.id}').text(count);
		var total=0;
		$('.every:checked').each(function(){
			total+=Number($(this).parent().siblings('.p').find('.price').text());
			// console.log(total);
		})
		$('#total').text(total);
		$('#copy2').text(total);
	});
});
</script>
					<td class="p">
						<div class="td1">
							<span>￥</span>
							<span class='price' id="price{$val.id}">{$val.price * $val.num}</span>
						</div>
					</td>
					<td class="delete"><div class="td1"><a href="{:url('del'),'?id=' . $val.id}" class="del">删除</a></div></td>
			</tr>
		{/volist}
	</table>
	<div height='140px' width="" id='empty'>
		<div>
			<img src="/static/shop/cart/images/002.gif" alt="">
			<span>购物车还没有商品，快选购吧</span>
		</div>
	</div>
</div>

<!---购物车center2-->
<div class="store_center2">
	<div class="shang">
		<div style="height:50px;margin-top:20px">
			<div style="float:left;width:100px;">商品总额</div>
			<div style="float:right;width:100px;">
				<span>￥</span>
				<span id='total'>0.00</span>
			</div>
		</div>
	</div>
	<div class="xia">
		<div style="height:50px;margin-top:20px">
			<div style="float:left;width:100px;margin-left:870px">应付</div>
			<div style="float:right;width:100px;">
				<span class='c'>￥</span>
				<span id='copy2' class='copy'>0.00</span>
			</div>
		</div>
		<div style="height:50px;">
			<div style="float:left;width:120px;margin-left:800px">
				<a href="{:url('shop/index/index')}" style="color:#31A5E7;font-size:20px;text-decoration:none">继续购物 &nbsp; >
				</a> 
			</div>
			<a href="{:url('jump')}"> 
			<!-- <a href="javascript:;"> -->
				<div style="float:right;width:150px;background:#31A5E7;height:50px;line-height:50px;text-align:center;color:#fff;font-size:20px" id='jiesuan'>去结算
				</div>
				<span id="showmsg"></span>
			</a>
		</div>
	</div>
</div>
<script>
// 结算（没有商品不能提交去结算）
	// 根据总价格去判断，如果总价为0，说明没有物品，不能去结算
	
	$('#jiesuan').click(function(){
		var zongjia=Number($('#total').text());
		if(zongjia==0){
			alert('请先选择商品');
			return false;
		}

		//定义一个空数组
		var ids=[];
		$('.every:checked').each(function(){
			var id=$(this).attr('data');
			ids.push(id);
		})
		// num数组
		var nums=[];
		$('.every:checked ').parent().siblings().find('.selected').each(function(){
			var num =parseInt($(this).text());
			nums.push(num);
		})
		//alert(nums);
		$.post("{:url('/shop/cart/demo')}",{'id[]':ids,'nums[]':nums},showmsg,'text');
		function showmsg(data){
			//$('#showmsg').text(data);
			// if(msg=='yes'){
			// 	window.location.href={:url('/shop/cart/step2')};
			// }else{
			// 	alert('提交失败');
			// }
		}
	})
</script>
<!-- 内容结束 -->
{include file="footer"}


