<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="/static/shop/index/css/reg.css"/>
    <script src="/static/bootstrap/jQuery-1.11.3.min.js"></script>
    <script>
        $(function () {
            // 用户名输入框失去焦点时
            $('#phone').blur(function () {
                var a = $(this).val();
                // 发送Ajax请求
                $.get("{:url('/shop/index/regnameAj')}",{username:a},nameshow,'text');
            });
            // callback函数
            function nameshow(data)
            {
                $('#phonemsg').text(data);
            }
            // 密码输入框失去焦点
            $('#pwd').blur(function () {
                var b = $(this).val();
                // 发送Ajax请求
                $.get("{:url('/shop/index/regpwdAj')}",{password:b},pwdshow,'text');
            });
            // callback函数
            function pwdshow(data)
            {
                $('#pwdmsg').text(data);
            }
            // 邮箱输入框失去焦点
            $('#email').blur(function () {
                var c = $(this).val();
                // 发送Ajax请求
                $.get("{:url('/shop/index/regemailAj')}",{email:c},emailshow,'text');
            });
            // callback函数
            function emailshow(data)
            {
                $('#emailmsg').text(data);
            }
        });
    </script>
</head>
<body>

<!--大背景-->
<div class="regimg" style="background-image:url('/static/shop/index/image/reg.jpg');">
    <form method="post" action="{:url('/shop/index/reg')}" >
        <div class="reg" id="reg">
            <div>
                <span id="jiaobiao-pc"><img src="/static/shop/index/image/pc.png" alt=""/></span>
                <span id="admin">用户注册</span>
            </div>
            <div>
            <!-- 用户名 -->
                <input type="text" id="phone" placeholder="用户名" class="shuru" name="username"/>
                <span id="phonemsg"  style="color:red;display: block;font-size: 12px;margin-left:40px;"></span>
            <!-- 密码 -->
                <input type="password" id="pwd" placeholder="密码" class="shuru" name="password"/>
                <span id="pwdmsg"  style="color:red;display: block;font-size: 12px;margin-left:40px;"></span>
            <!-- 邮箱 -->
                <input type="text" id="email" placeholder="邮箱" class="shuru" name="email"/>
                <span id="emailmsg"  style="color:red;display: block;font-size: 12px;margin-left:40px;"></span>
            <!-- 验证码 -->
                <input type="text" id="yzm" placeholder="验证码" class="shuru" name="yzm"/>
                <span id="yzmmsg"  style="color:red;display: block;font-size: 12px;margin-left:40px;"></span>
                <!-- 验证码图片 -->
                <div style="margin-left:40px;"><img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'"/></div>
                <sapn id="magic"></sapn><input type="checkbox" id="check" value=""/>已阅并遵守相关规定
           </div>
            <a class="log-s" id="log"><button style="font-size: 20px;background: none;outline: none;color:white;border:none;cursor:pointer;">注册</button></a>
            <p>
                <a href="{:url('/shop/index/index')}"><span id="reg-t" style="display: inline-block;margin-left: 150px;">返回商城</span></a>
            </p>
        </div>
    </form>
</div>
<!--底部-->
<div class="footer">
    <ul class="links">
        <li><a href="#">关于魅族</a><span>|</span></li>
        <li><a href="#">工作机会</a><span>|</span></li>
        <li><a href="#">联系我们</a><span>|</span></li>
        <li><a href="#">法律声明</a><span>|</span></li>
        <li><a href="#">常见问题</a><span>|</span></li>
        <li id="control"><a href="#">简体中文</a><span id="now1"></span></li>
        <li class="kefu">客服热线  400-788-3333</li>
        <a href="#" class="zaixian">在线客服</a>
    </ul>
    <div id="qiehuan">
        <ul>
            <li><a href="#" id="now">简体中文</a></li>
            <li class="c-line">
                <div class="cc"></div>
            </li>
            <li><a href="#">English</a></li>
        </ul>
    </div>
    </br>
    <ul class="beian">
        <li>©2016 Meizu Telecom Equipment Co., Ltd. All rights reserved.</li>
        <li><a href="#">备案号: 粤ICP备13003602号-4</a></li>
        <li><a href="#">经营许可证编号: 粤B2-20130198</a></li>
        <li><a href="#">营业执照</a></li>
    </ul>
</div>
<!-- 包含的尾部 -->
{include file='footer' /}
</body>
</html>