<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>魅族商城</title>
    <link rel="stylesheet" type="text/css" href="/static/shop/detail/css/common.css"/>
    <link rel="stylesheet" href="/static/shop/detail/css/product.css" />
    <link rel="stylesheet" href="/static/shop/detail/css/comment.css" />
    <link rel="stylesheet" href="/static/shop/detail/css/font-awesome.min.css">
    <script src="/static/shop/detail/js/jquery.min.js"></script>
    <script src="/static/shop/detail/js/index.js"></script>
    <script src="/static/shop/detail/js/product.js"></script>
    <script charset="utf-8" src="js/site-lib.js"></script>
    <script type="text/javascript" src="js/site-base.js"></script>
    <script type="text/javascript" src="js/pkg-detail-f23a56f.js"></script>
    <link rel="stylesheet" href="css/site-base.css" />
    <link rel="stylesheet" href="css/main-4fc753f.css">
    <script src="/static/bootstrap/jQuery1.11.3.min.css"></script>
     <script src="/static/bootstrap/jQuery-1.11.3.min.js"></script>
     <!-- 文本编辑器 -->
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/static/ueditor/editor_config.js"></script>
    <script type="text/javascript" src="/static/ueditor/editor_all.js"></script> -->
     <!-- /文本编辑器 -->
</head>
<body>
<header>
    <div class="top">
        <div class="head">
            <div class="top-left">
                <!-- <a href="{:url('/index/index/index')}">魅族官网</a> -->
                <a href="{:url('/shop/index/index')}">魅族商城</a>
                <a href="">Flyme</a>
                <a href="">专卖店</a>
                <a href="">服务</a>
                <a href="">社区</a>
            </div>
            <div class="top-right">
                <ul class="top-info">
                    <li>
                        <a ><!-- 我的收藏 -->

                            <div class="top-new">
                                Order
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('/shop/user/order')}">我的订单</a>
                    </li>

                    <li>
                    <!-- 判断cookie用户是否登陆 -->
                        {if !empty(cookie('username'))}
                            <a href="{:url('/shop/user/index')}">{php}echo cookie('username');{/php}</a>
                            Level:<a >{php}echo grade(cookie('score'));{/php}</a>
                            <a href="{:url('/shop/index/logout')}">退出</a>
                        {else}
                            <a href="{:url('/shop/index/login')}">登录</a>
                        {/if}
                    </li>
                    <li>
                        <a href="{:url('/shop/index/reg')}">注册</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav-mid">
            <div class="logo">
                <a href="{:url('shop/index/index')}">
                    <img src="/static/shop/resource/images/entry/logo-header.png" alt="">
                </a>
            </div>
            <div class="head-nav">
               <!--  <ul>
                    <li><a class="top-item" href="">PRO手机</a></li>
                    <li><a class="top-item" href="">魅蓝手机</a></li>
                    <li><a class="top-item" href="">MX手机</a></li>
                    <li><a class="top-item" href="">精选配件</a></li>
                    <li><a class="top-item" href="">智能硬件</a></li>
                </ul> -->
                <div class="top-hide">
                    <div class="container">
                        <ul class="menu-list">
                            <li class="">
                                <a href="">
                                    <div class="figure">
                                        <img src="/static/shop/resource/images/entry/1.png" alt="">
                                    </div>
                                    <div class="pro-name">魅族PRO6</div>
                                    <div class="price">￥2499</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li class="">
                                <a href="">
                                    <div class="figure">
                                        <img src="/static/shop/resource/images/entry/1.png" alt="">
                                    </div>
                                    <div class="pro-name">魅族PRO6</div>
                                    <div class="price">￥2488</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li class="">
                                <a href="">
                                    <div class="figure">
                                        <img src="/static/shop/resource/images/entry/1.png" alt="">
                                    </div>
                                    <p class="pro-name">魅族PRO645</p>
                                    <div class="price">￥2477</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li class="">
                                <a href="">
                                    <div class="figure">
                                        <img src="/static/shop/resource/images/entry/1.png" alt="">
                                    </div>
                                    <div class="pro-name">魅族PRO6</div>
                                    <div class="price">￥2466</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li class="">
                                <a href="">
                                    <div class="figure">
                                        <img src="/static/shop/resource/images/entry/1.png" alt="">
                                    </div>
                                    <div class="pro-name">魅族PRO6</div>
                                    <div class="price">￥2455</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <div class="crumbs clearfix">
            <a href="{:url('shop/index/index')}" class="">首页</a>&nbsp;>&nbsp;
            <a class="ellipsis crumbs-title">{$Ginfo.gname}</a>
        </div>
        <div class="row">
            <div class="preview" id="preview">
                <div class="preview-booth">
                    {if $imgslist.img1}
                    <a href="javascript:;" id="J_imgBooth" class="hide">
                        <img src="{$imgslist.img1}" height="375" width="375"/>
                    </a>
                    {/if}
                    {if $imgslist.img2}
                    <a href="javascript:;" id="J_imgBooth" class="hide">
                        <img src="{$imgslist.img2}" height="375" width="375"/>
                    </a>
                    {/if}
                    {if $imgslist.img3}
                    <a href="javascript:;" id="J_imgBooth" class="hide">
                        <img src="{$imgslist.img3}" height="375" width="375"/>
                    </a>
                    {/if}
                    {if $imgslist.img4}
                    <a href="javascript:;" id="J_imgBooth" class="hide">
                        <img src="{$imgslist.img4}" height="375" width="375"/>
                    </a>
                    {/if}
                </div>
                <ul class="preview-thumb clearfix" id="J_previewThumb">
                    {if $imgslist.img1}
                    <li><a href="javascript:;">
                            <img src="{$imgslist.img1}" height="75" width="75"/>
                        </a>
                    </li>
                    {/if}
                    {if $imgslist.img2}
                    <li><a href="javascript:;">
                            <img src="{$imgslist.img2}" height="75" width="75"/>
                        </a>
                    </li>
                    {/if}
                    {if $imgslist.img3}
                    <li><a href="javascript:;">
                            <img src="{$imgslist.img3}" height="75" width="75"/>
                        </a>
                    </li>
                    {/if}
                    {if $imgslist.img4}
                    <li><a href="javascript:;">
                            <img src="{$imgslist.img4}" height="75" width="75"/>
                        </a>
                    </li>
                    {/if}
                </ul>
            </div>
            <div class="property" id="property">
                <div class="property-hd">
                    <h1 id="goodname">{$Ginfo.gname}</h1>
                    <p class="mod-info">{$Ginfo.describe}</p>
                </div>
                <div class="property-sell">
                    <dl class="property-sell-price clearfix">
                        <dt class="vm-metatit" id="J_discountTag">
                            价<span class="s-space"></span>格&nbsp;:
                        </dt>
                        <dd>
                            <div class="mod-price">
                                <small>¥</small>
                                <span id="J_price" class="vm-money" gid="{$gid}">
                                    {$Ginfo.price}
                                </span>
                            </div>
                        </dd>
                    </dl>
                </div>
                <!-- 隐藏基准价价格 -->
                <div id="saveprice" style="display:none;">{$Ginfo.price}</div>
               <div id="goodstore">
                <!-- 3x3区域 -->
                <div class="property-set">
                    <!-- 遍历mid，属性类型 -->
                    {volist name="attrsN" id="valL"}<!-- 第一层 -->
                    <!-- 一行属性mid -->
                    <dl class="property-set-sale">
                        <dt class="vm-metatit">{php}echo attrClass($valL);{/php}</dt>
                        <dd class="clearfix net">
                            <!-- 遍历属性  第二层-->
                            {volist name="attrsV" id="valS"}
                            <!-- 判断属性是否和类型相等 -->
                            {if $valS['0'] == $valL}
                                <!-- 遍历所有属性 -->
                                {volist name="attrList" id="attr"}
                                    <!-- 判断并替换属性中文 -->
                                    {if $attr['id'] == $valS['1']}
                                        <!-- 遍历money属性 第三层-->
                                        {volist name="mon" id="money"}
                                            {if $money['0'] == $valS['1']}
                                                <a href="javascript:;" gtid="" class="" attr="{$attr['id']}" money="{$money[1]}">
                                                    {$attr['attrs']}
                                                    <!-- <span attr="{$attr['id']}" money="{$money[1]}"></span> -->
                                                </a>
                                            {/if}
                                        {/volist}
                                    {/if}
                                {/volist}
                           
                            {/if}
                            {/volist}
                        </dd>
                    </dl>
                    <!-- /一行mid -->
                    {/volist}
                </div>
                <!-- /3x3区域 -->
                <!-- 显示库存 -->
                </div>总库存:{$count}&nbsp件&nbsp
                当前型号库存量:&nbsp<span id="goodstore1" style="color:red;font-weight: border;"></span>&nbsp&nbsp件
                <script src="/static/bootstrap/jQuery-1.11.3.min.js"></script>
                <script type="text/javascript">
                    $('#goodstore').mouseover(function () {
                        // 发送数据组合(attr x 3)查询库存并返回
                        var gid = $('#J_price').attr('gid')
                        var attr1 = $('.selected').eq(0).attr('attr');
                        var attr2 = $('.selected').eq(1).attr('attr');
                        var attr3 = $('.selected').eq(2).attr('attr');
                        // 发送Ajax请求
                           $.get("{:url('/shop/Detail/storeAj')}",{gid:gid,'0':attr1,'1':attr2,'2':attr3},store,'text');
                        // callback函数
                            function store(data)
                            {
                                $('#goodstore1').text(data);
                            }
                    });
                </script>
                <!-- 支持 / 服务 -->
                <div class="property-service">
                    <!-- 支持 -->
                    <dl class="property-service-provider clearfix">
                        <dt class="vm-metatit">
                            支<span class="s-space"></span>持 :
                        </dt>
                        <dd class="clearfix">
                            <i class="icon icon-service"></i>花呗分期
                            <i class="icon icon-service"></i>顺丰包邮
                            <i class="icon icon-service"></i>7天无理由退货
                        </dd>
                    </dl>
                    <!-- 配送 -->
                   <!--  <dl class="property-service-suda clearfix" id="J_delivery">
                        <dt class="vm-metatit">
                            配<span class="s-space"></span>送 :
                        </dt>
                        <dd class="mod-site clearfix">
                            <div id="site-selector" class="site-selector">
                                <div class="text"></div>
                                <div class="content"></div>
                            </div>
                            <span class="site-status" id="J_siteStatus"></span>
                        </dd>
                    </dl> -->
                    <!-- 服务 -->
                    <dl class="property-service-provider clearfix">
                        <dt class="vm-metatit">
                            服<span class="s-space"></span>务 :
                        </dt>
                        <dd class="clearfix">
                            本商品由 魅族 负责发货并提供售后服务
                        </dd>
                    </dl>
                </div>
                <!--购买数量-->
                <div class="property-buy">
                    <p class="vm-message" id="J_message"></p>
                    <dl class="property-buy-quantity">
                        <dt class="vm-metatit">
                            数<span class="s-space"></span>量
                        </dt>
                        <dd class="clearfix">
                            <div class="mod-control">
                                <a id="jian" href="javascript:;" class="vm-minus disabled">-</a>
                                <input type="text" name="" id="J_quantity" value="0" />
                                <a id="jia" href="javascript:;" class="vm-plus disabled">+</a>
                            </div>
                        </dd>
                        <!-- 信息汇总:<dd id="message"></dd> -->
                    </dl>
                </div>
                <!-- 立即购买 / 立即购买 -->
                <div class="btnBUY">
                    <!-- <a href="{:url('shop/cart/step2')}" id="J_btnBuy" class="anniu hong"> -->
                    <a href="javascript:;" id="J_btnBuy" class="anniu hong">
                        <i></i>
                        立即购买
                    </a>
                    <!-- <a href="{:url('shop/cart/step1')}" id="J_btnBuy1"  class="anniu lan"> -->
                    <a href="javascript:;" id="J_btnBuy1"  class="anniu lan">
                        <i></i>
                        加入购物车
                    </a>
                    <!-- <a href="javascript:;" id="J_favorite" class="vm-favorite">
                        <i class="icon icon-star icon-large"></i>
                        收藏
                    </a>
                    <span class="vm-tips" id="J_favoriteTips">
                        <i class="s-triangle"></i>
                        提前收藏，抢购快人一步！
                        <em id="J_favoriteTipsClose">╳</em>
                    </span> -->
                </div>
                <!-- 获取商品信息 -->
                <!-- 立即购买 -->
                <script type="text/javascript">
                    $(function () {
                        $('#J_btnBuy').click(function () {
                            // 发送数据组合(attr x 3)查询库存并返回
                            var goodname = $.trim($('#goodname').text());
                            var attr1 = parseInt($('.selected').eq(0).attr('attr'));
                            var attr2 = parseInt($('.selected').eq(1).attr('attr'));
                            var attr3 = parseInt($('.selected').eq(2).attr('attr'));
                            var gid = $('#J_price').attr('gid');
                            var price = parseInt($('#J_price').text());
                            var num = $('#J_quantity').val();
                            var src = $('img:first').attr('src');
                            var text1 = $.trim($('.selected').eq(0).text());
                            var text2 = $.trim($('.selected').eq(1).text());
                            var text3 = $.trim($('.selected').eq(2).text());
                            // 发送Ajax请求
                               $.get("{:url('/shop/Detail/buy')}",{'img':src,'net':text1,'color':text2,'memoey':text3,'gname':goodname,'gid':gid,'num':num,'price':price,'attr1':attr1,'attr2':attr2,'attr3':attr3},showmsg,'text');
                            // callback函数
                                function showmsg(data)
                                {
                                     $('#message').text(data);
                                    //window.location.href="{:url('/shop/cart/step2')}";
                                }
                            });
                    });
                </script>
                <!-- 加入购物车 -->
                <script type="text/javascript">
                    $(function () {
                        $('#J_btnBuy1').click(function () {
                            // 发送数据组合(attr x 3)查询库存并返回
                            var goodname = $('#goodname').text();
                            var attr1 = parseInt($('.selected').eq(0).attr('attr'));
                            var attr2 = parseInt($('.selected').eq(1).attr('attr'));
                            var attr3 = parseInt($('.selected').eq(2).attr('attr'));
                            var gid = $('#J_price').attr('gid');
                            var price = parseInt($('#J_price').text());
                            var num = $('#J_quantity').val();
                            var src = $('img:first').attr('src');
                            var text1 = $.trim($('.selected').eq(0).text());
                            var text2 = $.trim($('.selected').eq(1).text());
                            var text3 = $.trim($('.selected').eq(2).text());
                            // 发送Ajax请求
                               $.get("{:url('/shop/Detail/addcart')}",{'img':src,'net':text1,'color':text2,'memoey':text3,'gname':goodname,'gid':gid,'num':num,'price':price,'attr1':attr1,'attr2':attr2,'attr3':attr3},showmsg,'text');
                            // callback函数
                                function showmsg(data)
                                {
                                    //$('#message').text(data);
                                    window.location.href="{:url('/shop/cart/step1')}";
                                }
                            });
                    });
                </script>
                
            </div>
        </div>
    </div>
    <div class="row detail">
        <div style="height:62px;">
            <div class="detail-tab" id="detailTabFixed">
                <div class="fixed-container">
                    <ul class="clearfix" style="display: block;">
                        <li class="current">
                            <a href="javascript:;">商品详情</a>
                        </li>
                        <li>
                            <a href="javascript:;">规格参数</a>
                        </li>
                        <li>
                            <a href="javascript:;">商品评论</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail-content tab-show container">
            <div class="introduce current" id="introduce" style="display: block;">
                {$imgslist.intro}
            </div>
        </div>
        <div class="standard tab-show" id="standard" style="display: none;">
            <table class="standard-table">
                <tbody>
                <tr class="standard-table-group">
                    <th colspan="2">基础信息</th>
                </tr>
                <!-- 遍历mid，属性类型 -->
                {volist name="attrsN" id="valL"}
                <tr>
                    <th>{php}echo attrClass($valL);{/php}</th>
                    <td>
                        <!-- 遍历属性 -->
                        {volist name="attrsV" id="valS"}
                        <!-- 判断属性是否和类型相等 -->
                        {if $valS['0'] == $valL}
                            <!-- 遍历所有属性 -->
                            {volist name="attrList" id="attr"}
                                <!-- 判断并替换属性中文 -->
                                {if $attr['id'] == $valS['1']}
                                    {$attr['attrs']}
                                {/if}
                            {/volist}
                        {/if}
                        {/volist}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <!-- 商品评论 -->
        <div class="standard tab-show" id="" style="display: none;">
           <!-- 回复展示 -->
           <div class="comment">
               <div class="msg">
                    <div class="username">xiaoming</div>
                    <div class="userimg">
                        <span>
                            <img src="/uploads/icons/20170708/4de3b77f2285bf74033f48523ee06376.jpg" width="90" height="90">
                        </span>
                    </div>
                    <div class="level">用户等级</div>
               </div>
               <div class="content">
                    <div class="custom">评论内容</div>
                    <div class="reply">掌柜回复</div>
                    <button class="replybtn">&nbsp回&nbsp复&nbsp</button>
               </div>
           </div>
           <!-- 回复展示结束 -->
           <!-- 发表回复-->
           <div class="comment">
               <div class="msg">
                    <div class="username">xiaoming</div>
                    <div class="userimg">
                        <span>
                            <img src="/uploads/icons/20170708/4de3b77f2285bf74033f48523ee06376.jpg" width="90" height="90">
                        </span>
                    </div>
                    <div class="level">用户等级</div>
               </div>
               <div class="content">
                    <div class="sendmsg">
                        <textarea>回复内容</textarea>
                    </div>
                    <button class="replybtn">&nbsp发&nbsp表&nbsp</button>
               </div>
           </div>
           <!-- 发表回复 -->
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer-servive">
            <ul>
                <li class="item">
                    <span class="img"></span>
                    <p>
                        <span class="blod">7天</span>
                        <span class="normal">无理由退货</span>
                    </p>
                </li>
                <li class="line">
                    <span></span>
                </li>

                <li class="item">
                    <span class="img"></span>
                    <p>
                        <span class="blod">7天</span>
                        <span class="normal">无理由退货</span>
                    </p>
                </li>
                <li class="line">
                    <span></span>
                </li>

                <li class="item">
                    <span class="img"></span>
                    <p>
                        <span class="blod">7天</span>
                        <span class="normal">无理由退货</span>
                    </p>
                </li>
                <li class="line">
                    <span></span>
                </li>

                <li class="item">
                    <span class="img"></span>
                    <p>
                        <span class="blod">7天</span>
                        <span class="normal">无理由退货</span>
                    </p>
                </li>
                <li class="line">
                    <span></span>
                </li>

                <li class="item">
                    <span class="img"></span>
                    <p>
                        <span class="blod">7天</span>
                        <span class="normal">无理由退货</span>
                    </p>
                </li>
                <li class="line">
                    <span></span>
                </li>

                <li class="item">
                    <span class="img"></span>
                    <p>
                        <span class="blod">7天</span>
                        <span class="normal">无理由退货</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="footer-nav">
            <div class="nav-item">
                <h4>帮助说明</h4>
                <ul>
                    <li><a href="">支付方式</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

            <div class="nav-item">
                <h4>帮助说明</h4>
                <ul>
                    <li><a href="">支付方式</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

            <div class="nav-item">
                <h4>帮助说明</h4>
                <ul>
                    <li><a href="">支付方式</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

            <div class="nav-item">
                <h4>帮助说明</h4>
                <ul>
                    <li><a href="">支付方式</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

            <div class="nav-custom">
                <h4>服务热线</h4>
                <a class="" href="">
                    <h3>88888888</h3>
                </a>
                <a class="nav-btn" href="">
                    <img width="20" height="21" src="" alt="">
                    在线客服
                </a>
            </div>
        </div>
        <div class="footer-end">
            <p>
                Powered by <?=SET_ZD ;?>©2016 <?=SET_URL ;?>| 邮箱：@qq.com | <?=SET_ICP ;?>

    </div>
</footer>
<div class="model">
    <div class="tcenter">
        <div class="alert">
            <p>
                <span>收藏成功</span>
                <a href="">查看我的收藏</a>
            </p>
        </div>
    </div>
    <i id="close" class="icon-remove"></i>
</div>
</body>
</html>
<!-- 数量加减 -->
<script>
    $(function () {
        $('#jia').click(function () {
            var oldValue = $('#J_quantity').val();
            var store = parseInt($('#goodstore1').text());
            oldValue++;
            if (oldValue >= store){
                oldValue = store;
            }
            $('#J_quantity').val(oldValue);
        })
        $('#jian').click(function () {
            var oldValue = $('#J_quantity').val();
            oldValue--;
            if (oldValue <= 0){
                oldValue = 0;
            }
            $('#J_quantity').val(oldValue);
        })
    })
</script>
<!-- <script type="text/javascript">
    var editor = new UE.ui.Editor();
    editor.render("myEditor");
    //1.2.4以后可以使用一下代码实例化编辑器
    UE.getEditor('myEditor')
</script> -->
