<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/footer.css" />
</head>
<body>
	{__CONTENT__}
	<!-- <footer>
		<div class="ljn_foot">
	<div class="center-box">
		<ul class="mzsc">
					<li>
						<span>魅族商城</span>
						<p>MX6</p>
						<p>PRO 6</p>
						<p>魅蓝 E</p>
						<p>魅蓝 3s</p>
					</li>
					<li>
						<span>服务支持</span>
						<p>寄送快修</p>
						<p>上门快修</p>
						<p>预约维修</p>
						<p>VIP注册</p>
					</li>
					<li>
						<span>Flyme</span>
						<p>固件下载</p>
						<p>开放平台</p>
						<p>软件商店</p>
						<p>查找手机</p>
					</li>
					<li>
						<span>关于我们</span>
						<p>关于魅族</p>
						<p>加入我们</p>
						<p>联系我们</p>
						<p>意见反馈</p>
					</li>
				
				</ul>
				<div class="right-box">
					<h5>24小时全国服务热线</h5>
					<p>400-788-3333</p>
					<span>
						<img src="/static/index/img/ljn_a18.gif" />
						<p class="zaix">24小时在线客服</p>
					</span>
				</div>
	</div>
	<div class="dibu">
		<div class="dibuz">
			<a href="">粤ICP备13003602号-2</a>
			<a href="#">粤B2-20130198</a>
			<a href="#">营业执照</a>
			<a href="#">法律声明</a>
			<span>
				<i></i>粤公网安备 44049102496009 号
      </span>
      <a href="#" class="stua"><i></i></a>
      <a href="#" class="stub"><i></i></a>	
      <a href="#" class="stuc"><i></i></a>
     <p>珠海市魅族通讯设备有限公司     地址：广东省珠海市唐家湾科技创新海岸魅族科技楼 电话：0756-6130440
      </p>
       <p>©2016 Meizu Telecom Equipment Co., Ltd. All rights reserved.
      </p>
		</div>
		<div class="dibuy">
			<p>关注我们</p>
			<a href="#" class="weiboa"><i></i></a>
			<span></span>
			<a href="#" class="weibob" id="weix"><i></i></a>
			<span></span>
			<a href="#" class="weiboc"><i></i></a>
			<img src="/static/index/img/wx-code_a645982.png" id="tuewm"/>
		</div>
	</div>
</div>
	</footer> -->
</body>
</html>