<link rel="stylesheet" type="text/css" href="/static/index/css/cc-header.css"/>
<div class="cc-header" style="width: 100%;height: 577px;>
<!--  头部    -->
	<div class="header" style="background: #e4e4e4;">
		<div class="header-box">
			<img src="/static/index/img/header/logo-new_294da7f.png" class="logo">
			<ul class="tou" id="tou">
				<li>
					<a href="{:url('/shop/index/index')}">魅族商城</a>
				</li>
				<li>
					<a href="javascript:;">魅族手机</a>
				</li>
				<li>
					<a href="javascript:;">魅蓝手机</a>
				</li>
				<li>
					<a href="javascript:;">魅族声学</a>
				</li>
				<li>
					<a href="javascript:;">智能.配件</a>
				</li>
				
				<li>
					<a href="javascript:;">服务</a>
				</li>
				<li>
					<a href="{:url('index/index/zhuanmaidian')}">专卖店</a>
				</li>
				<li>
					<a href="shequ.html">社区</a>
				</li>
			</ul>
			<div id="quan">
				<div class="denglv" id="dl">
					<img src="/static/index/img/header/log-default-avatar_a44f0e7.png">
					<img src="/static/index/img/header/xiangxia.png" class="jt">
				</div>
				<div class="denglv1" id="dt">
					<a href="">
						<div class="lan">立即登陆</div>
					</a>
					<p class="jh"><span>没有账号？</span>
						<a href="">立即注册</a>
					</p>
					<p>
						<a href="">我的购物车</a>
					</p>
					<p>
						<a href="">我的订单</a>
					</p>
					<p>
						<a href="">M码通道</a>
					</p>
				</div>
			</div>
		</div>
		<div class="hezi" id="hezi">
			<div class="tut">
				<ol>

				</ol>
			</div>
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/header/ta.jpg"><br />PRO 6Plus</li>
					<li><img src="/static/index/img/header/tb.jpg"><br />PRO 6S</li>
					<li><img src="/static/index/img/header/tc.jpg"><br />MX 6</li>
					<li><img src="/static/index/img/header/td.jpg"><br />PRO 6</li>
					<li><img src="/static/index/img/header/te.jpg"><br />PRO 5</li>
					<li><img src="/static/index/img/header/tf.jpg"><br />MX 5</li>

				</ol>
			</div>
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/header/tg.jpg"><br />魅蓝 Note5</li>
					<li><img src="/static/index/img/header/th.jpg"><br />魅蓝 X</li>
					<li><img src="/static/index/img/header/ti.jpg"><br />魅蓝 5</li>
					<li><img src="/static/index/img/header/tg.jpg"><br />魅蓝 Max</li>
					<li><img src="/static/index/img/header/tk.jpg"><br />魅蓝 U20</li>
					<li><img src="/static/index/img/header/tl.jpg"><br />魅蓝 U10</li>
				</ol>
			</div>
			<div class="tut">
				<ol class="erji">
					<li><img src="/static/index/img/header/tn.jpg"><br />EP2X</li>
					<li><img src="/static/index/img/header/to.jpg"><br />蓝牙运动耳机</li>
					<li><img src="/static/index/img/header/tp.jpg"><br />头戴式耳机</li>
				</ol>
			</div>
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/header/tq.jpg"><br />魅族手环</li>
					<li><img src="/static/index/img/header/tr.jpg"><br />智能手表 MIX</li>
					<li><img src="/static/index/img/header/ts.jpg"><br />音乐智能保护套</li>
					<li><img src="/static/index/img/header/tt.jpg"><br />魅族盒子</li>
					<li><img src="/static/index/img/header/tu.jpg"><br />魅族双肩包</li>
					<li><img src="/static/index/img/header/tv.jpg"><br />环窗智能保护套</li>
				</ol>
			</div>
		</div>
	</div>
</div>