<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>网站维护</title>
	<link rel="stylesheet" type="text/css" href="public/css/admin/.css"/>
</head>
<body>
<body style="background-image:url('/static/shop/index/image/reg.jpg');background-position:center; background-repeat:repeat-x;margin-top:420px;">
	<p style="color:#ffffff;font-size: 40px;font-weight: bolder;text-align: center;font-family: DFKai-SB">网站维护</p>
	<p style="color:#ffffff;font-size: 25px;font-weight: bolder;text-align: center;font-family: DFKai-SB">不为发烧而生，我们只为你创造梦想，遇见更好的自己！</p>
	<a href="/admin/Index/login" style="text-decoration: none;"><p style="color:#ffffff;font-size: 25px;font-weight: bolder;text-align: center;font-family: DFKai-SB;">管理员登陆</p></a>
</body>
</html>
 

