<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/static/index/css/zhuangmaidian.css">
		<link rel="stylesheet" href="/static/index/css/style.css"/>
		<script src="/static/index/js/jquery-1.8.3.min.js"></script>
<script>
	window.onload = function(){
		var oli = document.getElementById('tou').children;
			var tu = document.getElementById('hezi').children;
			for(var i=1;i<5;i++){
			oli[i].index=i;
			oli[i].onmousemove=function(){
				$("#hezi").slideDown('30');
				for(var i = 1; i < 5; i++) {
					tu[i].style.animation = '';
					tu[i].style.display='none';
			    }
				tu[this.index].style.display='block';
				tu[this.index].style.animation = '2s forwards ease 1 diyi';
			}
			$("#hezi").hover(function(){
				hezi.style.display = 'block';
			},function(){
				hezi.style.display = 'none'
			})
		}
	}
</script>
<style>
			*{margin: 0;padding: 0;transition: all;}
			.tou{float: right;font-family: "微软雅黑";margin-right: 100px;margin-top: 30px;position:absolute;z-index:500 ;
			top: 0px;right: 0px;}
			.tou li{display: inline-block;font-size: 14px;margin-right: 50px;cursor: pointer;}
			.hezi{width: 100%;height: 200px;position: absolute;background: #fff;z-index: 50;display: none;top: 0;}
			.hezi ol{position: absolute;left: 450px;top:70px;z-index: 2;text-align: center;font-size: 12px;color: #666;}
			.hezi ol li{display: inline-block;float: left;margin-left:40px;}
			.hezi ol li:hover{opacity: 0.5;}
			.hezi ol li img{width: 86px;height: 86px;}
			@keyframes diyi {
				0% {
					opacity: 0;
					transform: translateX(0px);
				}
				100% {
					opacity: 1;
					transform: translateX(-70px);
				}
			}
			.hezi>div{display: none;}
			.logo{position: absolute;z-index: 100;top: 25px;left: 50px;}
</style>
	</head>
	<body>
			<a href="{:url('index/index/index')}">
				<img src="/static/index/img/logo-new_294da7f.png" class="logo">
			</a>
<ul class="tou" id="tou">
			<li><a href="{:url('/shop/index/index')}">魅族商城</a></li>
			<li>魅族手机</li>
			<li>魅蓝手机</li>
			<li>魅族声学</li>
			<li>智能.配件</li>
			<li><a href="{:url('index/index/fuwu')}">服务</a></li>
			<li><a href="zhuanmaidian.html">专卖店</a></li>
			<li><a href="shequ.html">社区</a></li>
		</ul>
		<div class="hezi" id="hezi">
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/Cix_s1fDkdyAb0YGAEeDe0CxIV8257_126x126.png"></li>
					<li><img src="/static/index/img/Cix_s1g9JbqAU7G9AAOSqVEq1nk348_126x126.png"></li>
					<li><img src="/static/index/img/CnQOjVeE2E-AAGZCABHUf4HwKyw117_126x126.png"></li>
					<li><img src="/static/index/img/Cix_s1g-lYOAJzMqABY2I5awJck774_126x126.png"></li>
				</ol>
			</div>
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/CnQOjVfD9pWAS6VZAAutvljEfx8425_126x126.png"><br />PRO 6S</li>
					<li><img src="/static/index/img/CnQOjVg-j0uAWlJIAAj4ScedJ9k483_126x126.png"><br />PRO 6Plus</li>
					<li><img src="/static/index/img/CnQOjVfXbSeARD4tAAZYK3KJlH8271_180x180.png"><br />MX 6</li>
					<li><img src="/static/index/img/CnQOjVeq0uGASgUFAAzQ2opb7qI013_126x126.png"><br />PRO 6</li>
					<li><img src="/static/index/img/Cix_s1hHaFWAbhaLAAtuFSxnh1Q193_180x180.png"><br />PRO 5</li>
					<li><img src="/static/index/img/Cix_s1g1Pi2ANEg-AA9IpQ8-shg515_180x180.png"><br />MX 5</li>
				</ol>
			</div>
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/Cix_s1g1Pi2ANEg-AA9IpQ8-shg515_180x180.png"><br />PRO 6S</li>
					<li><img src="/static/index/img/Cix_s1g9JbqAU7G9AAOSqVEq1nk348_126x126.png"><br />PRO 6Plus</li>
					<li><img src="/static/index/img/Cix_s1hHaFWAbhaLAAtuFSxnh1Q193_180x180.png"><br />PRO 5</li>
					<li><img src="/static/index/img/CnQOjVeq0uGASgUFAAzQ2opb7qI013_126x126.png"><br />MX 6</li>
				</ol>
			</div>
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/CnQOjVgkHHWAUH85AAHOwfpsRUs585_126x126.png"><br />PRO 6Plus</li>
					<li><img src="/static/index/img/CnQOjVhAAfGATHD5AA1jPCtyxxQ710_126x126.png"><br />魅蓝 X</li>
					<li><img src="/static/index/img/CnQOjVfqPd-AEjICAAVBTlzLU4U578_126x126.png"><br />魅蓝 5</li>
					<li><img src="/static/index/img/CnQOjVhAAfGATHD5AA1jPCtyxxQ710_126x126.png"><br />魅蓝 Max</li>
					<li><img src="/static/index/img/Cix_s1hHaFWAbhaLAAtuFSxnh1Q193_180x180.png"><br />魅蓝 U20</li>
					<li><img src="/static/index/img/Cix_s1g1Pi2ANEg-AA9IpQ8-shg515_180x180.png"><br />MX 5</li>
				</ol>
			</div>
			<div class="tut">
				<ol>
					<li><img src="/static/index/img/CnQOjVgkHHWAUH85AAHOwfpsRUs585_126x126.png"><br />PRO 6Plus</li>
					<li><img src="/static/index/img/CnQOjVhAAfGATHD5AA1jPCtyxxQ710_126x126.png"><br />魅蓝 X</li>
					<li><img src="/static/index/img/CnQOjVfqPd-AEjICAAVBTlzLU4U578_126x126.png"><br />魅蓝 5</li>
					<li><img src="/static/index/img/CnQOjVhAAfGATHD5AA1jPCtyxxQ710_126x126.png"><br />魅蓝 Max</li>
					<li><img src="/static/index/img/Cix_s1hHaFWAbhaLAAtuFSxnh1Q193_180x180.png"><br />魅蓝 U20</li>
					<li><img src="/static/index/img/Cix_s1g1Pi2ANEg-AA9IpQ8-shg515_180x180.png"><br />MX 5</li>
				</ol>
			</div>
			</div>
		<div class="banner">
			<img src="/static/index/img/banner6.jpg">
		</div>
		<ul class="xiao">
			<li style="margin-left: 0px;">专卖店</li>
			<li>优秀专卖店</li>
			<li>形象销售点</li>
		</ul>
		<div id="qie">
			<div class="shou">
				<p>当前城市：
					<select>
						<option>北京</option>
						<option>山西</option>
						<option>上海</option>
						<option>天津</option>
					</select>
					<select>
						<option>北京</option>
						<option>山西</option>
						<option>上海</option>
						<option>天津</option>
					</select>
				</p>
				<ul class="xua">
					<li><a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
					
					<li>
						<a href="专卖店详情.html">
						<p>中关村科贸电子城认证店</p>
						<span>北京中关村电子城一层1A01号肯德基隔壁，地铁4号线中关村站C出口</span><br />
						<span>010-82537369/15011529328</span>
						</a>
					</li>
				</ul>
				
			</div>
		</div>
		<div class="jiamen">
					<ul>
						<li>您的满意，我们的动力</li>
						<li class="ke">满意度调查</li>
					</ul>
					<ul style="float: right;">
						<li>加入魅族，梦想从此实现</li>
						<li class="ke">加盟认证店</li>
						<li class="ke">加盟销售精英</li>
					</ul>
				</div>

		{include file="index/footer" /}

	</body>
</html>
