{include file="herder/index"}

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/jQuery-1.11.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  	 <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

	<div class="container">
		<!-- 抬头 -->
		<div class="row">
		  <div class="col-md-12">
			  	<ol class="breadcrumb">
				  <li><a href="#">商城</a></li>
				  <li><a href="#">用户设置中心</a></li>
				  <li class="active">个人首页</li>
				</ol>
			</div>
		<div class="row">
		<!-- 右侧列表 -->
		<div class="row"></div>
		  <div class="col-md-3 breadcrumb" >
			<div class="col-md-12">
				列表<span class="badge">4</span>
			</div>
		  </div>
		  <!-- 左侧列表 -->
		  <div class="col-md-9">.col-md-8</div>
		</div>
	</div>



<!-- 包含的尾部 -->
{include file='footer' /}