{extend name="admin" /}
{block name="content"}

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{:url('index')}">轮播管理</a></li>
        <li class="active"><a href="">修改轮播</a></li>
    </ul>
    <form class="form-horizontal" id="form" action="{:url('update')}" method="post" enctype="multipart/form-data" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改轮播</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">轮播名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="image" required class="form-control" value="{$baninfo['image']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">图片资源</label>
                    <div class="col-sm-9">
                        <img src="{$baninfo['src']}" width="300" height="120">
                        <input type="file" name="src" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <!-- 提交重置按钮 -->
        <input type="hidden" name="id" value="{$baninfo['id']}">
        <button class="btn btn-primary" type="submit">确定</button>
        <input  name="" type="reset" value="重置" class="btn btn-primary text-but">
    </form>
                    
{/block}