{extend name='admin'/}
{block name="content"}

    <style>
        th{
            text-align: center;
        }
    </style>
    <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
        <li>
            <a href="javascript:;"><i class="fa fa-cogs"></i> 商品管理</a>
        </li>
    </ol>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="{:url('index')}">商品管理</a></li>
        <li><a href="{:url('store')}">添加商品</a></li>
    </ul>
    <form action="" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr style="text-align: center">
                        <th>ID</th>
                        <th>商品名称</th>
                        <th>基础价格</th>
                        <th>库存</th>
                        <th>图片</th>
                        <th>状态 | 热卖</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="val"}
                    <tr style="text-align: center">
                        <td>{$val.id}</td>
                        <td>{$val.gname}</td>
                        <td>{$val.price}</td>
                        <td>{$val.num}</td>
                        <td><img width="60" src="{$val.pic}"></td>
                        <td>
                            {if $val.hot == '1'}
                            {$val.status} | 是
                            {else}
                            {$val.status} | 否
                            {/if}
                        </td>
                        <td>{$val.update_time}</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                	<li><a href="{:url('list'),'?id=' . $val.id}">货品管理</a></li>
                                    <li><a href="{:url('detail'),'?id=' . $val.id}">商品详情</a></li>
                                    <li><a href="{:url('adddetail'),'?id=' . $val.id}">添加详情</a></li>
                                    <li><a href="{:url('addattr'),'?id=' . $val.id}">添加属性</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{:url('edit'),'?id=' . $val.id}">编辑</a></li>
                                    <li><a href="{:url('del'),'?id=' . $val.id}">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="pagination pagination-sm pull-right">
        {$list->render()}
    </div>


{/block}