{extend name='admin'/}
{block name="content"}

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{:url('index')}">商品管理</a></li>
        <li class="active"><a href="">{$single.gname}</a></li>
    </ul>
<!-- 单品所有属性列表 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>【{$single.gname}】</b>全部属性</h3>
        </div>
        <div class="panel-body">
                <div class="col-sm-12" id="spec">
                <form action="" method="post">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="80">编号</th>
                            <th>网络类型</th>
                            <th>颜色</th>
                            <th>内存</th>
                            <th width="200">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                         {volist name="result" id="info"}
                        <tr>
                            <td>{php}echo substr_replace($info['3'],'****',5,13){/php}</td>
                            {volist name="attrList" id="attr"}
                                {if $attr.id == $info.0}
                                    <td>{$attr.attrs}</td>
                                {/if}
                                {if $attr.id == $info.1}
                                    <td>{$attr.attrs}</td>
                                {/if}
                                {if $attr.id == $info.2}
                                    <td>{$attr.attrs}</td>
                                {/if}
                            {/volist}
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:;" onclick="del()">删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>

{/block}

