{extend name='admin'/}
{block name="content"}

    <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
        <li>
            <a href=""><i class="fa fa-cogs"></i> 类型管理</a>
        </li>
        <li class="active">
            <a href="{:url('store')}">类型添加</a>
        </li>
    </ol>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="">类型管理</a></li>
        <li><a href="{:url('store')}">类型添加</a></li>
    </ul>
    <form action="" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr style="text-align: center">
                        <th width="80">编号</th>
                        <th>类型名称</th>
                        <th width="200">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $Ldata as $vL}
                    <tr>
                        <td>{$vL['id']}</td>
                        <td>{$vL['tname']}</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">

                                    <li><a href="{:url('edit',['id'=>$vL['id']])}">编辑</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{:url('del',['id'=>$vL['id']])}">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                        {foreach $Sdata as $vS}
                        {if $vL['id'] == $vS['pid']}
                        <tr>
                            <td><!-- {$vS['id']} --></td>
                            <td>--------|&nbsp;&nbsp; {$vS['tname']}</td>
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{:url('edit',['id'=>$vS['id']])}">编辑</a></li>
                                        <li><a href="{:url('del',['id'=>$vS['id']])}">删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {/if}
                        {/foreach}
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="pagination pagination-sm pull-right">
        fenye
    </div>

{/block}